<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    </style>
<body>

<h2>HTML Forms</h2>



<form action = "/wtform" method = "POST" enctype = "multipart/form-data">
    {{ sendToFrontedForm.hidden_tag()}}

    {{ sendToFrontedForm.name.label(for = "name") }}
    {{sendToFrontedForm.name(id = "name" , class = "form-control")}}<br>
    {% if sendToFrontedForm.name.errors %}
        <ul class = " errors text-denger">
            {% for error in sendToFrontedForm.name.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {{ sendToFrontedForm.email.label(for = "email")}}
    {{ sendToFrontedForm.email(id = "email", class = "form-control")}}<br>
    {% if sendToFrontedForm.email.errors%}
        <ul class = "errors text-denger ">
            {% for error in sendToFrontedForm.email.errors%}
                <li>{{error}}</li>
            {%endfor%}
        </ul>
    {%endif%}

    {{ sendToFrontedForm.phone.label(for = "phone")}}
    {{ sendToFrontedForm.phone(id = "phone", class = "form-control")}}<br>
    {% if sendToFrontedForm.phone.errors%}
        <ul class="errors text-denger">
            {%for error in sendToFrontedForm.phone.errors%}
                <li>{{error}}</li>
            {% endfor%}
        </ul>
    {%endif%}

    {{ sendToFrontedForm.file.label(for = "file")}}<br>
    {{ sendToFrontedForm.file(id = "file", class = "form-control")}}<br>
    {% if sendToFrontedForm.file.errors %}
        <ul class = "errors text-denger">
            {%for error in sendToFrontedForm.file.errors%}
                <li>{{error}}</li>
            {% endfor%}
        </ul>
    {%endif%}

    {{ sendToFrontedForm.submit(class = "btn btn-dark")}}
</form>


</body>
</html>




