<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>

    </style>
<body>

<h2>Contact List</h2>
<a href="{{ url_for('add_contact') }}">Add New Contact</a>



<form method="POST" action="{{ url_for('search_contact') }}">
    <input type="text" name="search" placeholder="Search by name, email, or phone" required>
    <button type="submit">Search</button>
</form>

{% if contacts %}
    <ul>
    {% for contact in contacts %}
        <li>{{ contact.name }} - {{ contact.email }} - {{ contact.phone }}</li>
    {% endfor %}
    </ul>
{% elif search_term %}
    <p>No results found for "{{ search_term }}"</p>
{% endif %}


</body>
</html>




