<!DOCTYPE html>
<html>
<head>
    <title>Success</title>
</head>
<body>
    <!-- Flash Message -->
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
      {% if messages %}
        <p style="color: green;">{{ messages[0] }}</p>
      {% endif %}
    {% endwith %}

    <h2>Submitted Details</h2>
    <p><strong>Name:</strong> {{ data.Name }}</p>
    <p><strong>Email:</strong> {{ data.Email }}</p>
    <p><strong>Mobile:</strong> {{ data.Mobile }}</p>

    <a href="/">Back to Form</a>
</body>
</html>


ergergergro;tgjiwr;iogh;wiltgrwh;igt